{% extends "coupons/base.html" %}

{% block content %}

    <div id="step-one">
        <div class="row lightbg">
            <div class="container">
                <img src="{{ MEDIA_URL }}coupons/img/growing-knowledge.png" alt="growing knowledge" class="hero" />
                <img src="{{ MEDIA_URL }}coupons/img/plant.png" alt="healthy plant" class="plant" />
            </div>
        </div>
        <div class="row darkbg">
            <div class="container">
                <div class="copy">
                    <h2>Increase your potash knowledge, and get a $25 gift card.</h2>
                    <p>To get started, simply enter the access code found in your email or on your letter.</p>
                    {% if form %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        {{ field.errors }}
                        <input type="submit" />
                    </form>
                    {% else %}
                    {% endif %}
                </div>
                <div class="progress"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // /promotion?couponURLParam=xxxcodexxx
        // if present, put it's value in the form
        var urlParams;
    
        (window.onpopstate = function () {
            var match,
                pl     = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                query  = window.location.search.substring(1);

            urlParams = {};
            while (match = search.exec(query))
               urlParams[decode(match[1])] = decode(match[2]);
        })();
    
        function insertCouponValue() {
            var couponInputVal = (urlParams['coupon']);
            document.getElementById('id_code').value = couponInputVal;
        }
        $(document).ready(function() {
        
            if ( urlParams.hasOwnProperty ('coupon')) {
                insertCouponValue();
            }
        });
    
    </script>
{% endblock %}
