<div style="font: 1em sans-serif">
<h2>Growing [K]nowledge</h2>
<p>Thank you for taking time to grow your [K]nowledge on the value of using Sulfate of Potash(SOP). You should receive your $25 gift card over the next few weeks.</p>
<p>Until then, please visit <a href="http://www.textbooksop.com">www.textbooksop.com</a> or click the links below for insight on:</p>
<ul>
    <li><a href="http://www.textbooksop.com/about-sop/">About Sulfate of Potash</a></li>
    <li><a href="http://www.textbooksop.com/about-sop/high-potassium/">Potassium Management</a></li>
    <li><a href="http://www.textbooksop.com/about-sop/high-sulfur/">Sulfate Sulfur</a></li>
    <li><a href="http://www.textbooksop.com/about-sop/low-chloride/">Chloride &amp; Salt Sensitivity</a></li>
    <li><a href="http://www.textbooksop.com/about-sop/organic/">Organic K+<sup style="text-decoration:none">&reg;</sup> Brand SOP</a></li>
</ul>
<p>Our research on K source and its impact on alfalfa yield and forage quality will continue in 2014 and beyond.</p>

<p>Thanks again and enjoy your reward!</p>
<p>Sincerely,</p><br>

<p>Jason Bagley<br>
Pacific Northwest Regional Business Director<br>
Compass Minerals</p>
</div>